.container {
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 1200px;
    height: 1200px;
}

.box {
    background-color:grey;
    color:burlywood;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: 300px;
}
select {
    width: 153px;
}
.dropdown {
    margin-left: -22px;
}

.age {
    margin-left: 45px;
}

.last_name {
    margin-left: 3px;
}

button {
    background-color: burlywood;
    color: black;
    margin-top: 10px;
}
